*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --bg-hover-color: #f1f1f1;
}

.dark {
  --bg-color: #1a202c;
  --text-color: #e2e8f0;
  --bg-hover-color: #2d3748;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Optional for Tailwind CSS */
@layer base {
  .dark {
    --tw-bg-opacity: 1;
    background-color: #1a202c;
    color: #e2e8f0;
  }

  .dark .bg-white {
    background-color: #1a202c;
  }

  .dark .text-gray-800 {
    color: #e2e8f0;
  }

  .dark .text-gray-600 {
    color: #a0aec0;
  }

  .dark .hover\:bg-gray-100:hover {
    background-color: #2d3748;
  }

  .dark .hover\:text-gray-800:hover {
    color: #edf2f7;
  }
}

.repo-card {
  transition: transform 0.3s ease-out;
}

.repo-card:hover {
  transform: scale(1.05);
}

.modal {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease, transform 0.3s ease-out;
}

.modal.active {
  opacity: 1;
  transform: translateY(0);
}
